<h2>Search Authors/Pastes</h2>
<form action="/authors" method="GET"> <% /* replace with pastes */ %> 
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>"> <% /* replace with pastes */ %> 
    <button type="submit">Search</button>
</form>
<br>
<% authors.forEach(author => { %>  <% /* replace with pastes */ %> 
    <br>
    <div><%= author.name %> </div>  <% /* replace with pastes */ %> 
    <div><%= author.description %> </div> 
    <a href="/authors/<%= author.id %>">View</a>  <% /* replace with pastes */ %> 
    <a href="/authors/<%= author.id %>/edit">Edit</a>
    <form method="POST" action="/authors/<%= author.id %>?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
<% }) %> 